%h1=t('user.signup')

= form_for @user, :html =>{:class => 'form-stacked'} do |f|
  -if @user.errors.any?
    %div.errors_messages
    %h3=t(:processing_error)
    %ul
      -for mess in @user.errors.full_messages
        %li=mess
            
  =f.label :email
  =f.text_field :email
  %br/
  =f.label :password
  =f.password_field :password
  %br/
  = f.label :password_confirmation
  =f.password_field :password_confirmation 
  %br/
  %br/
  = f.submit nil, {:class => "btn" }