%div
  = form_tag filter_stories_path do
    Filter by user
    =select_tag :user_id, options_from_collection_for_select(@users, 'id', 'email', params[:user_id]), :include_blank => true
    and state
    =select_tag :state, options_for_select(@states, params[:state]), :include_blank => true
    =submit_tag "Accept", {:class => 'btn'}
    
  =link_to "Back to stories", stories_path