=form_for @story, :html =>{:class => 'form-stacked'} do |f|
  -if @story.errors.any?
    %div.errors_messages
    %h3 Form is invalid
    %ul
      -for mess in @story.errors.full_messages
        %li=mess

  =f.label :title
  %br/
  =f.text_field :title
  %br/
  =f.label :description
  %br/
  =f.text_area :description, {:class => 'span4', :rows => 5}
  %br/
  =f.label :user_id
  %br/
  =f.select :user_id, options_from_collection_for_select(@users, "id", "email"), :include_blank => true
  %br/
  %br/
  =f.submit nil, {:class => 'btn'}
  
=link_to "Back to stories", stories_path