%h1 Stories

-if @stories.present?
  %table.zebra-striped.bordered-table
    %thead
      %tr
        %th Title
        %th State
        %th User
        %th
        %th
        %th
    -@stories.each do |story|
      %tr
        %td=story.title
        %td=story.state
        %td=story.user.try(:email)
        %td=link_to "Show", story_path(story)
        %td=link_to "Edit", edit_story_path(story)
        %td=link_to "Delete", story, :method => 'delete'

-if current_user
  =render :partial => 'filter', :locals => {:users => @users, :states => @states}


%br/
=link_to "New", new_story_path