%h1="#{t('story.header')} : #{@story.title}"

%div.alert-message
  =t('story.description')
  %p
    =@story.description
  %br/
  -if @story.user
    User:
    =@story.user.try(:email)
  %br/
  -case @story.state
  -when "new"
    =button_to t('story.start'), start_story_path(@story), {:class => 'btn'}
  -when 'started'
    =button_to t('story.finish'), finish_story_path(@story), {:class => 'btn primary'}
  -when 'finished'
    =button_to t('story.accept'), accept_story_path(@story), {:class => 'btn success'}
    or
    =button_to t('story.reject'), reject_story_path(@story), {:class => 'btn danger'}

-if @comments.present?
  -@comments.all.each do |comment|
    %div.comment
      %b
        =comment.content
      %br/
      %br/
      =comment.user.email
      %div{:style => 'float:right'}
        =link_to t(:delete), comment, :method => 'delete'
        

%br/
%br/
%br/
=render :partial => 'comments/form'  
  
%br/
=link_to t('story.back_link'), stories_path